*{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "Comfortaa", serif;
}
:root{
                --bleu-claro:#deebf5;
                --blue-dark:#c4d9ec;
                --blue-cian:#EAF1F6;
                --blue-escuro:#070346;
                --blue: #282f6f;
                --rosa-ligth:#f4f6f8;
                --rosa:#f8f8f8;
                --white:#fff;
                --gold:#c4a47c;
                box-shadow: 0px 0px 20px -3px rgba(224, 220, 220, 0.8);
}
body, html{
                position: relative;
}
.container-title{
                max-width: 1240px;
                margin: 0 auto;
                text-align: center;
                padding: 100px;
                text-transform: uppercase;
               
               
}
.container-title h2{
                font-family: "Montserrat", sans-serif;
                font-size:32px;
                color: #282F6F;
                font-weight: 700;
}
aside{
                width: 100%;
}
.container{
                background-color: var(--rosa);
}
.secao-projetos{
                display: flex;
                width: 100%;
                max-width: 1240px;
                margin: 0 auto;
                padding-bottom: 40px;
              
}