*{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: "Comfortaa", serif;
}
:root{
                --bleu-claro:#deebf5;
                --blue-dark:#c4d9ec;
                --blue-cian:#EAF1F6;
                --blue-escuro:#070346;
                --rosa-ligth:#f4f6f8;
                --rosa:#f8f8f8;
                box-shadow: 0px 0px 20px -3px rgba(224, 220, 220, 0.8);
}