.rodape {
  background-color:rgb(129, 126, 126);
  text-align: center;
  color:white;
  height: 140px;

}


.rodape img{
  width:60px;

}
.rodepe-termos{
  display: flex;
  justify-content: space-evenly;
}
.seta {
  position: absolute;
  right: 10px;
  bottom: 100px;
  
  
}

@media (max-width: 1440px) {
  .rodape div p {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .rodape div p {
    font-size: 22px;
  }
}
@media (max-width: 420px) {
  .rodape div p {
    font-size: 10px;
  }
}
