.container-header {
  width: 100%;
  display: flex;
  background-color:rgb(129, 126, 126);
}
.container-topo {
  text-align: center;
}
.container-topo img {
  width: 40%;
}

.top-link {
  text-align: center;
  margin: 27px auto;
  width: 100%;
  text-transform: uppercase;
}
.top-link a {
  text-decoration: none;
  padding: 20px;
  color:white;
  font-weight: bold;
}

/***************** Responsivo Tablet ************/
@media (max-width: 768px) {
  .container-topo {
    max-width: 300px;
  }
  .container-topo img {
    width:60%;
  }
  .container-header {
    display: flex;
  }
  .top-link {
  }
  .top-link a {
    font-size: 11px;
  }
}
/***************** Responsivo Mobile ************/
@media (max-width: 420px) {
                .container-header {
                  display: flex;
                  flex-direction: column;
                }
                .container-topo{
                                width: 100%;
                                margin: 0 auto;
                }
                .container-topo img {
                  width:90%;
                }
                .top-link a {
                  font-size:52%;
                }
              }