.topo{
                background-color: #070346;
                width: 100%;
                              
}
.container-logo{
                display: flex;
                justify-content: space-between;
}
.seccao-topo{
                width: 100%;
                max-width: 1440px;
                margin: 0 auto;
               
}
.logo img{
                width: 30%;
            

}
.top-link{
                text-align: center;
                margin: 25px auto;
                width: 100%;
                text-transform: uppercase;

}
.top-link a{
                text-decoration: none;
                padding: 20px;
                color: white;
                font-size: 20px;
                font-weight: bold;
}